.appContainer {
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: flex-start;
	width: 100%;
	min-height: 100%;
}

.todoItem {
	border: 1px solid #999;
	border-radius: 8px;
	padding: 10px 10px;
	gap: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: left;
	cursor: pointer;
	background-color: white;
}

.todoItem:hover {
	outline: black solid 1px;
}

.todoTitle {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 100%;
}

@media (max-width: 1000px) {
	.appContainer {
		width: 80vw;
	}
}