.container {
	border: 1px solid #999;
	border-radius: 8px;
	gap: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20vw;
	align-self: center;
	padding: 0px 10px;
	background-color: white;
}

.container:focus-within {
	outline: 1px solid black;
}

.inputBox {
	border: 0px solid #999;
	border-radius: 8px;
	width: 100%;
	height: 100%;
	padding: 10px 0px;
}

input:focus {
	outline: none;
}

@media (max-width: 1000px) {
	.container {
		width: 90%;
	}
}